<div class="widgetContent">
    <div class="widgetBody">
        <div class="row">
            <div class="col s6">Current Site Time</div>
            <div class="col s6" id="currentSiteTimeContainer"></div>
        </div>
        <div id="userCurrentTimeContainer" class="row hide">
            <div class="col s6">Your Current Time</div>
            <div class="col s6" id="currentUserTimeContainer"></div>
        </div>
    </div>
</div>
<script>updateTime();</script>
